body{
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border: 1px solid #c0c0c0;
    box-shadow: 0px 0px 5px 3px #b8b7b7;
    background-color: #ff5200;
}
.navbar ul a{
    color: #fff;
    text-decoration: none;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
button {
    background: #fff;
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
}
.search button {
    border: 1px solid #000;
    padding: 7px 10px;
    margin-left: 10px;
}
input{
    padding: 6px;
}
.logo img{
    width: 100%;
    max-width: 200px;
    height: auto;
}
.navbar li{
    color: #fff;
}
.res-conatiner {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.res-card {
    width: 100%;
    max-width: 160px;
    /* height: 250px; */
    padding: 8px 15px;
    box-shadow: 0 0 5px 3px #b8b7b7;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.res-card img{
    width: 100%;
    max-width: 150px;
    height: auto;
}
.bodyCont{
    padding: 10px;
}
.search{
    padding: 10px;
}
/* bottom nav */
.bottomnav{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 10px 20px 10px;
}
button.filter_btn {
    background: transparent;
    border: 2px solid orange;
    padding: 6px 10px;
    box-shadow: 0px 1px 4px 2px #ada5a5;
    cursor: pointer;
}
/* end bottom nav */
/* shimmer */
.shimmer {
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.shimmer .res-card {
    height: 200px;
}
/* shimmer */
.res-conatiner > a{
    text-decoration: none;
    color: #000;
}